.App {
  text-align: center;
}

body {
  background-color: black;
}

header {
  background-color: transparent;
  flex: 1;
}

main {
  max-width: 1280px;
  height: 500px;
  background-color: white;  
}